bak
.DS_Store
*.swp
.config/vim/autoload/
.config/vim/cache/
.config/vim/plugged/
.config/vim/tmp/
.config/vim/.netrwhist
.config/fish/functions/_*.fish
.config/fish/functions/__*.fish
.config/fish/functions/fish_*.fish
.config/fish/functions/fisher.fish
